.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 50px;
}

.search-bar {
  width: 40%;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.icons {
  display: flex;
  gap: 20px;
  font-size: 24px;
  cursor: pointer;
  /* color: rgb(69, 208, 226); */
  color: radial-gradient(
    90deg,
    rgba(11, 11, 11, 1) 0%,
    rgba(69, 208, 226, 1) 9%,
    rgba(29, 53, 129, 1) 46%,
    rgba(69, 208, 226, 1) 94%,
    rgba(8, 8, 8, 1) 100%
  );
  fill: none;
  stroke: #646464;
  stroke-width: 1px;
  stroke-dasharray: 2, 2;
  stroke-linejoin: round;
}
