<app-navbar></app-navbar>
<div class="main-content">
  <div class="notification-container">
    <h2>Notifications</h2>
    <div *ngFor="let notification of notifications" class="notification">
      <div class="notification-content">
        <p>{{ notification.reason }}</p>
        <p class="notification-timestamp">
          {{ notification.createdAt | date : "shortTime" }}
        </p>
      </div>
      <div class="notification-actions">
        <button (click)="markAsRead(notification.id)">Mark Read</button>
      </div>
    </div>
    <button (click)="clearNotifications()">Clear All</button>
  </div>
  <app-right-panel></app-right-panel>
</div>
