.edit-profile-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-profile-container label {
    display: block;
    margin-top: 10px;
  }
  
  .edit-profile-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .password-input {
    position: relative;
  }
  
  .password-input input {
    padding-right: 40px; /* Space for eye icon */
  }
  
  .password-input button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }