<div class="container">
  <div class="left-image">
    <img [src]="signupImg" alt="Buzzly Preview" />
  </div>

  <div class="right-box">
    <img [src]="logotext" alt="Buzzly Logo" class="logo" />
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        formControlName="fullName"
        placeholder="Full Name"
        required
      />
      <input
        type="email"
        formControlName="emailid"
        placeholder="Email"
        required
      />
      <input
        type="text"
        formControlName="mobileNo"
        placeholder="Mobile No"
        required
      />
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
        required
      />
      <select formControlName="gender">
        <option value="">Select Gender (Optional)</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      <button type="submit">Sign up</button>
    </form>

    <p class="login-text">
      Already have an account?
      <a (click)="navigateToLogin()">Log in</a>
    </p>
  </div>
</div>
